<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />

    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <form class="login-form" action="/client/login" method="post">
        <h2>Login</h2>
        <input
          type="email"
          id="client_email"
          name="client_email"
          placeholder="Enter your Email"
          value=""
          required
        />

        <input
          type="password"
          id="client_password"
          name="client_password"
          placeholder="Enter your password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          required
        />
        <button type="submit">Sign In</button>
      </form>
    </div>
  </body>
</html>
